# Frontend-specific overrides
# Most ignores are handled by root .gitignore

# Local environment overrides (if needed)
.env.local.frontend
# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
